<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>YihengHuang-Lab2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>68172A321F78514F00D7711E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>68172A461F78514F00D7711E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>68172A511F78514F00D7711E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
