<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Yiheng Huang lab4.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8FE48B841F9D79FD002F219A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8FE48B981F9D79FD002F219A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8FE48BA31F9D79FD002F219A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
